@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Title
    // ----------------------------------------------------------

    .a-ttl {
        font-family: $font_josefin;
        font-weight: 700;
        @include fontSize(50px);
        color: $color_main;

        &--center {
            @extend .a-ttl;

            text-align: center;
        }
    }

    .a-subttl {
        font-weight: bold;
        @include fontSize(16px);
        @include mt(10px);

        &--center {
            @extend .a-subttl;

            text-align: center;
        }
    }


}//.fw
