@charset "utf-8";

.fw {

    // ----------------------------------------------------------
    // Title
    // ----------------------------------------------------------

    .a-ttl {
        font-family: $font_josefin;
        font-weight: 700;
        @include fontSize(50px, 27.5px);
        color: $color_main;

        @include max(s) {
            text-align: center;
            line-height: 1;
        }

        &--center {
            @extend .a-ttl;

            text-align: center;
        }

        &_2 {
            @include fontSize(32px, 20px);
            text-align: center;
            color: $color_text;
            font-weight: bold;
            letter-spacing: 0.1em;
        }
    }

    .a-subttl {
        font-weight: bold;
        @include fontSize(16px,12px);
        @include mt(10px, 0);
        letter-spacing: 0.1em;

        @include max(s) {
            text-align: center;
        }

        &--center {
            @extend .a-subttl;

            text-align: center;
        }
    }


}//.fw
