@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-download {
            @include pd(70px 0);
            background-color: #e5eaec;
            position: relative;

            .f-inner {
                position: relative;
                z-index: 1;
            }

            &_bg {
                position: absolute;
                @include left(50%);
                transform: translateX(-55%);
                @include bottom(-60px);
                z-index: 0;
            }

            &_txt {
                text-align: center;
                @include fontSize(16px);
                @include mt(40px);
            }

            &_links {
                @include mt(40px);
                @include width(400px);
                @include ml(auto);
                @include mr(auto);

                &_stores {
                    @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "center" );
                }

                &_contact {
                    @include mt(40px);

                    a {
                        display: block;
                        @include fontSize(18px);
                        color: #fff;
                        text-align: center;
                        @include pd(20px 0);
                        text-align: center;
                        background-color: $color_sub;
                        border-radius: 5px;
                        box-shadow: 4px 4px 4px rgba(#555555,.5);

                        @include arrowAbs($color:#fff, $size:6, $width:2,$layout:right,$position:20,$direction:right);

                        transition: background-color .3s ease-out,
                        color .3s ease-out;

                        &:hover {
                            background-color: #fff;
                            color: $color_sub;
                            &::before {
                                border-color: $color_sub;
                            }
                        }
                    }
                }
            }
        }

    }


}//.fw
