@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-feature {
            @include mt(-210px);
            @include pt(250px);
            @include pb(110px);
            background-color: #e5eaec;

            &_innerSection {
                + .p-feature_innerSection {
                    @include mt(100px);
                }
            }

            .f-inner {
                z-index: 1;
                position: relative;
            }

            &_ttl {
                @include fontSize(23px);
                font-weight: bold;
                letter-spacing: 0.1em;
                color: $color_main;
                @include mb(20px);
            }

            &_subttl {
                @include fontSize(18px);
                font-weight: bold;
                letter-spacing: 0.1em;
                @include mg(30px auto 20px);
                @include width(1100px);
            }

            &_txt {
                @include fontSize(16px);
                line-height: 2.375;
            }
            
            &_box {
                @include flexBase( $wrap: "wrap", $direction: "row", $justify: "space-between", $align: "center" );

                &--reverse {
                    @extend .p-feature_box;

                    @include flexBase( $wrap: "wrap", $direction: "row-reverse", $justify: "space-between", $align: "center" );
                }

                &_item {
                    @include width(50%);
                    position: relative;

                    .__speaker {
                        position: absolute;
                        @include bottom(-10px);
                        @include right(350px);
                    }

                    .glide__slide1__slide {
                        @include pd(0 50px);
                        position: relative;

                        .glide__glide__slide1 {
                            box-shadow: 2px 2px 4px rgba(#555555, .5);
                        }

                        .__back {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        .__next {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                    .glide__slide2__slide {
                        @include pd(0 50px);
                        @include width(300px);
                        @include ml(auto);
                        position: relative;

                        .glide__glide__slide2 {
                            box-shadow: 2px 2px 4px rgba(#555555, .5);
                        }

                        .__back {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        .__next {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            &_ttlBox {
                @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "flex-start", $align: "center" );

                &::before {
                    content: "";
                    font-family: $font_voltaire;
                    text-align: left;
                    @include fontSize(280px);
                    color: #fff;
                    @include pr(20px);
                }

                &--1 {
                    @extend .p-feature_ttlBox;

                    &::before {
                        content: "1";
                    }
                }
                &--2 {
                    @extend .p-feature_ttlBox;
                    @include pl(20px,0);
                    
                    &::before {
                        content: "2";
                    }
                }
                &--3 {
                    @extend .p-feature_ttlBox;
                    
                    &::before {
                        content: "3";
                    }
                }
            }

            &_list {
                @include flexBase( $wrap: "wrap", $direction: "row", $justify: "space-between", $align: "stretch" );
                @include pl(30px);

                &_item {
                    @include width(180px);
                    @include height(175px);
                    background-color: #fff;
                    border: 1px solid $color_main;
                    box-shadow: 2px 2px 4px rgba(#555555, .5);
                    text-align: center;
                    @include mb(15px);
                    @include pd(15px 0);
                    position: relative;

                    &--row1 {
                        @extend .p-feature_list_item;
                        @include pd(30px 0);
                    }

                    p {
                        @include fontSize(16px);
                        font-weight: bold;
                        line-height: 1.5625;
                    }

                    img {
                        @include height(70px);
                        @include width(auto);
                        position: absolute;
                        @include bottom(20px);
                        left: 50%;
                        transform: translateX(-50%);

                    }
                }
            }

            &_wipList {
                @include width(1100px);
                @include height(175px);
                @include ml(auto);
                @include mr(auto);
                background-color: #fff;
                box-shadow: 2px 2px 4px rgba(#555555, .5);
                border: 1px solid $color_sub;

                &_item {
                    text-align: center;
                    position: relative;
                    @include pt(20px);

                    &--row1 {
                        @extend .p-feature_wipList_item;
                        @include pd(30px 0);
                    }
                    
                    p {
                        @include fontSize(16px);
                        line-height: 1.5625;
                    }

                    img {
                        @include height(55px);
                        @include width(auto);
                        position: absolute;
                        @include bottom(25px);
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            &_iconList {
                @include mt(20px);

                &_item {
                    display: inline-block;
                    vertical-align: bottom;

                    + .p-feature_iconList_item {
                        @include ml(20px);
                    }
                }
            }
        }

    }


}//.fw
