@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-kv {
            @include pd(120px 0 50px, 45px 0 0);

            .f-inner {
                @include max(s) {
                    padding: 0 !important;
                }
            }
            
            &_ttlBox {
                text-align: center;
                @include max(s) {
                    display: none;
                }
            }

            &_lead {
                @include fontSize(18px);
                font-weight: bold;
                @include mb(20px);

                @include max(s) {
                    display: none;
                }
            }

            &_ttl {
                img {
                    @include width(240px);
                    @include height(auto);

                    @include max(s) {
                        display: none;
                    }
                }
            }

            &_video {
                max-width: 1100px;
                @include mg(40px auto, 0);
                box-shadow: 3px 3px 6px rgba(#555555, .5);

                @include max(s) {
                    box-shadow: none;
                }

                video {
                    display: block;
                    @include width(100%);
                    @include height(auto);
                }
            }

        }

    }


}//.fw
