@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-kv {
            @include pd(120px 0 50px, 45px 0 0);

            .f-inner {
                @include max(s) {
                    padding: 0 !important;
                }
            }
            
            &_ttlBox {
                text-align: center;
                @include max(s) {
                    display: none;
                }
            }

            &_lead {
                @include fontSize(18px);
                font-weight: bold;
                @include mb(20px);

                @include max(s) {
                    display: none;
                }
            }

            &_ttl {
                img {
                    @include width(240px);
                    @include height(auto);

                    @include max(s) {
                        display: none;
                    }
                }
            }

            &_video {
                max-width: 1100px;
                position: relative;
                @include mg(40px auto, 0);
                box-shadow: 3px 3px 6px rgba(#555555, .5);

                @include max(s) {
                    box-shadow: none;
                }

                video {
                    display: block;
                    @include width(100%);
                    @include height(auto);
                }

                button {
                    position: absolute;
                    z-index: 1;
                    @include right(15px, 5px);
                    @include bottom(15px, 5px);
                    margin: 0;
                    border: 0;
                    padding: 5px;
                    @include fontSize(30px, 15px);
                    cursor: pointer;
                    outline: none;
                    font-family: 'IcoFont' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    line-height: 1;
                    background-color: transparent;
                  /* Better Font Rendering =========== */
                    -webkit-font-feature-settings: "liga";
                    -webkit-font-smoothing: antialiased;

                    &:hover, &:focus {
                        background-color: rgba(0,0,0,.3);
                    }

                    span {
                        display: none;
                    }

                    &.off {
                        &::before {
                            content: "\ecba";
                        }
                    }
                    &.on {
                        &::before {
                            content: "\ecb8";
                        }
                    }
                }
            }

        }

    }


}//.fw
