@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-meter {

            @include pd(60px 0 50px, 20px 0);
            color: #fff;
            position: relative;
            overflow: hidden;
            @include width(100vw,auto);

            &_bgVideo {
                position: absolute;
                @include width(100%);
                @include pt(56.25%,100%);
                @include top(50%,0);
                @include left(0);
                transform: translateY(-50%);
                @include max(s) {
                    transform: none;
                }
                z-index: -1;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(#000, .2);
                    z-index: 0;
                }

                video {
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include width(100%);
                    @include height(100%);
                    display: block;

                    @include max(s) {
                        object-fit: cover;
                    }
                }
            }

            &_ttl {
                font-family: $font_josefin;
                font-weight: bold;
                @include fontSize(30px, 17.5px);
                opacity: .8;
                text-align: center;
                @include height(30px);
            }

            &_list {
                @include width(600px, 300px);
                @include mg(40px auto 0, 20px auto 0);
                @include flexBase( $wrap: "wrap", $direction: "row", $justify: "flex-start", $align: "center" );
                transition: opacity .2s linear;
                opacity: 0;

                &.on {
                    opacity: 1;
                }

                &_head {
                    flex: 0 0 125px;
                    @include fontSize(18px, 14px);

                    @include max(s) {
                        flex: 0 0 75px;
                    }
                }

                &_data {
                    
                    &_num {
                        font-family: $font_DSEG7;
                        @include fontSize(50px, 25px);

                        .result-num {

                            &.one {
                                -webkit-transform: translateX(26px);
                                -ms-transform: translateX(26px);
                                transform: translateX(26px);
                            }
                        }
                    }
                    &_unit {
                        font-family: $font_DSEG14;
                        @include fontSize(30px, 15px);
                        color: #a7b4c5;
                        @include ml(5px, 2.5px);

                        + .p-meter_list_data_num {
                            @include ml(15px, 5px);
                        }
                    }
                }

            }
            

        }

    }


}//.fw
