@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-plan {
            @include pd(80px 0 70px, 35px 0);
            background-color: #e5eaec;

            &_txt {
                text-align: center;
                @include mt(40px, 20px);
                @include fontSize(18px, 16px);
                @include max(s) {
                    text-align: left;
                }
            }

            &_table {
                @include mg(30px 0 40px);
                @include max(s) {
                    width: auto;
                    display: block;
                    overflow-x: scroll;
                    white-space: nowrap;
                    -webkit-overflow-scrolling: touch;
                }

                &_note {
                    @include fontSize(14px);
                    @include mt(10px);
                }

                table {
                    width: 100%;
                    table-layout: fixed;

                    @include max(s) {
                        display: table;
                        width: 1200px;
                        table-layout: fixed;
                    }
                    
                    tbody {

                        tr {
                            th {
                                font-weight: bold;
                                border-right: 2px solid #e5eaec;
                            }
                            th,td {
                                text-align: center;
                                @include height(85px);
                                @include fontSize(16px);
                                line-height: 1.5625;

                                strong {
                                    color: $color_main;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    + table {
                        @include mt(10px);
                    }

                    tbody {
                        &.first {
                            tr {
                                background-color: #fff;
                            }
                        }
                        &.second,
                        &.third {
                            tr:first-child {
                                background-color: rgba($color_sub, .1);
                            }
                            tr:last-child {
                                background-color: #fff;
                            }
                        }

                    }

                }
            }

            &_example {
                background-color: #fff;
                @include width(800px, auto);
                @include mg(40px auto 0);
                @include pd(30px 100px 40px, 10px);
                @include fontSize(16px, 12px);

                span {
                    color: $color_main;
                }

                &_ttl {
                    text-align: center;
                }

                &_subttl {
                    @include mt(20px, 10px);
                    @include mb(10px, 10px);
                    background-color: $color_sub;
                    display: inline-block;
                    @include pd(10px 20px);
                    line-height: 1;
                    text-align: center;
                    color: #fff;
                }

                &_txt {
                    @include max(s) {
                        line-height: 1.5;
                    }
                }

                &_figure {
                    @include mg(30px auto 0, 15px auto 0);
                    @include width(100%, auto);
                    @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );

                    > * {
                        @include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
                        @include mg( 0, 0 2.5px);
                    }
    
                    &_box {
                        @include fontSize(16px,10px);
                        @include pd(10px, 0 5px);
                        @include width(180px);
                        text-align: center;
                        border: 1px solid $color_sub;
                        line-height: 1.4;
                    }
                }

                &_list {
                    @include mb(10px);

                    @include max(s) {
                        line-height: 1.5;
                    }

                    &_item {
                        + .p-plan_example_list_item {
                            @include mt(0);
                        }
                    }
                }

                sup {
                    color: $color_main;
                }
            }
        }

    }


}//.fw
