@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-registration {

            background-color: $color_main;
            @include pd(30px 0);
            

            &_btn {
                text-align: center;

                a {
                    display: inline-block;
                    @include width(275px);
                    @include pd(20px 0);
                    line-height: 1;
                    letter-spacing: 0.1em;
                    @include fontSize(18px);
                    color: #fff;
                    border: 2px solid #fff;

                    @include arrowAbs($color:#fff, $size:6, $width:2,$layout:right,$position:20,$direction:right);

                    transition: background-color .3s ease-out,
                                color .3s ease-out;

                    &:hover {
                        background-color: #fff;
                        color: $color_main;
                        &::before {
                            border-color: $color_main;
                        }
                    }
                }
            }
        }

    }


}//.fw
