@charset "utf-8";

.fw {
// ---------------------------------------------------------------------------
//
// /sample/index.html
//
// ---------------------------------------------------------------------------
    &#top {

        .p-simulation {
            @include pd(70px 0 110px, 35px 0);

            &_inputBox {
                @include mt(40px, 20px);
            }
            &_list {
                max-width: 635px;
                @include ml(auto);
                @include mr(auto);

                &_item {
                    @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "center" );
                    + .p-simulation_list_item {
                        @include mt(20px, 10px);
                    }

                    @include max(s) {
                        display: block;
                    }
                }
            }

            &_label {
                @include max(s) {
                    display: block;
                    line-height: 1.5;
                    margin-bottom: 8px;
                    font-size: 12px;
                }
            }

            &_input {
                @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "flex-start", $align: "flex-end" );
                @include width(120px, auto);
                @include max(s) {
                    line-height: 1.5;
                }
                input {
                    @include width(65px, 90%);
                    @include height(65px, 55px);
                    background-color: rgba($color_main, .1);
                    text-align: center;
                    @include fontSize(20px, 13px);
                    border: 1px solid $color_main;
                    @include mr(10px);
                    @include max(s) {
                        line-height: 1.5;
                    }
                }
            }

            &_resultsList {
                @include mg(60px auto 0, 30px auto 0);
                @include width(720px, auto);
                @include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "center" );

                &_item {
                    @include fontSize(16px,10px);
                    @include pd(0, 0 5px);

                    dl {
                        dt, dd {
                            text-align: center;
                        }
                    }

                    &--withResult {
                        @extend .p-simulation_resultsList_item;
                        @include width(180px);
                    }
                }
            }

            &_resultBox {
                @include height(65px, 55px);
                @include width(100%);
                background-color: rgba($color_main, .1);
                text-align: center;
                @include fontSize(16px, 12px);
                border: 1px solid $color_main;
                @include mg(15px 0, 5px 0);

                @include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
            }
        }

    }


}//.fw
