@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Footer
	// ----------------------------------------------------------
	.o-footer {
		background-color: $color_sub;
		color: #fff;
		@include pd(20px 0);

		position: relative;

		&_list {
			text-align: center;

			&_item {
				display: inline-block;
				@include mg(0 1em);
				
				a {
					color: #fff;
					@include fontSize(14px);
					position: relative;
					display: inline-block;
				
					&::before {
						content: '';
						display: block;
						@include width(100%);
						@include height(20px);
						position: absolute;
						@include bottom(-2px);
						@include left(0);
						background-image: linear-gradient(#fff, #fff);
						background-repeat: no-repeat;
						background-position: center bottom;
						background-size: 0% 2px;
						transition: background-size .3s ease-out;
					}
					&:hover {
						&::before {
							background-size: 100% 2px;
						}
					}
				}
			}
		}

		&_copyright {
			position: absolute;
			@include top(50%);
			@include right(30px);
			color: #aaaaaa;
			@include fontSize(12px);
			transform: translateY(-50%);

			@include max(s) {
				transform: none;
				position: static;
				text-align: center;
			}
		}
	}


}//.fw
