@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Header
	// ----------------------------------------------------------
	.o-header {
		position: relative;
		z-index: 100;

		&_static {

			> div {
				@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );
				@include width(1100px);
				@include pt(30px);
				@include ml(auto);
				@include mr(auto);

				position: absolute;
				@include top(0);
				@include left(50%);
				transform: translateX(-50%);

				.bar {
					display: none;
					h1 {
						display: none;
					}

					a.toggle {
						display: none;
					}
				}
				nav {
					ul {
						@include width(700px);
						@include height(50px);
						border: 2px solid $color_main;
						@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );
						@include pd(0 40px);
						border-radius: 5px;
						box-shadow: 4px 4px 4px rgba(#555, .5);
						background-color: rgba(#fff, .8);
						li {
							line-height: 1;
							@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
							a {
								@include fontSize(14px);
								color: $color_text;
								position: relative;
								display: inline-block;
							
								&::before {
									content: '';
									display: block;
									@include width(100%);
									@include height(20px);
									position: absolute;
									@include bottom(-5px);
									@include left(0);
									background-image: linear-gradient($color_main, $color_main);
									background-repeat: no-repeat;
									background-position: center bottom;
									background-size: 0% 2px;
									transition: background-size .3s ease-out;
								}
								&:hover {
									&::before {
										background-size: 100% 2px;
									}
								}
							}
						}
					}
				}
				a.login {
					background-color: $color_main;
					color: #fff;
					text-align: center;
					@include fontSize(16px);
					@include width(220px);
					@include height(50px);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					border-radius: 5px;
					box-shadow: 4px 4px 4px rgba(#555, .5);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}
				}
				a.contact {
					background-color: $color_sub;
					color: #fff;
					text-align: center;
					@include fontSize(16px);
					@include width(150px);
					@include height(50px);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					border-radius: 5px;
					box-shadow: 4px 4px 4px rgba(#555, .5);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}
				}
			}

			@include max(s) {
				display: none;
			}
		}

		&_sticky {
			> div {
				position: fixed;
				@include top(-65px,0);
				left: 0;
				@include width(100%);
				@include height(65px,45px);
				background-color: #fff;
				transition: top .3s ease-out;
				z-index: 10;
				box-shadow: 2px 0px 4px rgba(#555, .2);

				&.on {
					@include top(0);
				}

				.bar {
					h1 {
						img {
							@include width(160px,100px);
							@include height(auto);
							display: block;
							position: absolute;
							@include top(50%);
							@include left(30px,15px);
							transform: translateY(-50%);
						}
					}
					a.toggle {
						display: none;

						@include max(s) {
							display: block;
							width: 20px;
							height: 15px;
							position: absolute;
							top: 50%;
							right: 20px;
							transform: translateY(-50%);
						
							span {
								display: block;
								width: 20px;
								height: 2px;
								background-color: #000;
								position: absolute;
						
								&:first-child {
									top: 0;
									left: 0;
								}
						
								&:nth-child(2) {
									top: 50%;
									left: 0;
								}
						
								&:last-child {
									top: 100%;
									left: 0;
								}
							}
						
							&.on {
								span {
									&.first {
										top: 50%;
										animation: toggle1 2000ms linear both;
									}
							
									&.second {
										display: none;
									}
							
									&.third {
										top: 50%;
										animation: toggle2 2000ms linear both;
									}
								}
							}
						}
					}
				}
				nav {
					ul {
						position: absolute;
						@include left(42%,0);
						@include top(50%,-100%);
						transform: translate(-50%, -50%);
						@include width(600px, 100%);
						@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );

						@include max(s) {
							display: block;
							position: fixed;
						}

						li {
							line-height: 1;
							a {
								@include fontSize(13px);
								color: $color_text;
								position: relative;
								display: inline-block;
							
								&::before {
									content: '';
									display: block;
									@include width(100%);
									@include height(20px);
									position: absolute;
									@include bottom(-5px);
									@include left(0);
									background-image: linear-gradient($color_main, $color_main);
									background-repeat: no-repeat;
									background-position: center bottom;
									background-size: 0% 2px;
									transition: background-size .3s ease-out;
								}
								&:hover {
									&::before {
										background-size: 100% 2px;
									}
								}
							}
						}
					}
				}
				a.login {
					background-color: $color_main;
					color: #fff;
					text-align: center;
					@include fontSize(16px);
					@include width(235px);
					@include height(100%);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					position: absolute;
					@include top(0);
					@include right(170px);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}

					@include max(s) {
						display: none;
					}
				}
				a.contact {
					background-color: $color_sub;
					color: #fff;
					text-align: center;
					@include fontSize(16px);
					@include width(170px);
					@include height(100%);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					position: absolute;
					@include top(0);
					@include right(0);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}

					@include max(s) {
						display: none;
					}
				}
			}

		}
	}


}//.fw
