@charset "utf-8";

.fw {

	// ----------------------------------------------------------
	// Header
	// ----------------------------------------------------------
	.o-header {
		position: relative;
		z-index: 100;

		&_static {

			> div {

				> .bar {
					display: none;
					h1 {
						display: none;
					}

					a.toggle {
						display: none;
					}
				}

				> .side {
					@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );
					@include width(1100px);
					@include pt(30px);
					@include ml(auto);
					@include mr(auto);

					position: absolute;
					@include top(0);
					@include left(50%);
					transform: translateX(-50%);


					nav {
						ul {
							@include width(700px);
							@include height(50px);
							border: 2px solid $color_main;
							@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );
							@include pd(0 40px);
							border-radius: 5px;
							box-shadow: 4px 4px 4px rgba(#555, .5);
							background-color: rgba(#fff, .8);
							li {
								line-height: 1;
								@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
								a {
									@include fontSize(14px);
									color: $color_text;
									position: relative;
									display: inline-block;
								
									&::before {
										content: '';
										display: block;
										@include width(100%);
										@include height(20px);
										position: absolute;
										@include bottom(-5px);
										@include left(0);
										background-image: linear-gradient($color_main, $color_main);
										background-repeat: no-repeat;
										background-position: center bottom;
										background-size: 0% 2px;
										transition: background-size .3s ease-out;
									}
									&:hover {
										&::before {
											background-size: 100% 2px;
										}
									}
								}
							}
						}
					}
					a.login {
						background-color: $color_main;
						color: #fff;
						text-align: center;
						@include fontSize(16px);
						@include width(220px);
						@include height(50px);
						display: block;
						@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
						border-radius: 5px;
						box-shadow: 4px 4px 4px rgba(#555, .5);
						transition: opacity .3s ease-out;

						&:hover {
							opacity: .8;
						}
					}
					a.contact {
						background-color: $color_sub;
						color: #fff;
						text-align: center;
						@include fontSize(16px);
						@include width(150px);
						@include height(50px);
						display: block;
						@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
						border-radius: 5px;
						box-shadow: 4px 4px 4px rgba(#555, .5);
						transition: opacity .3s ease-out;

						&:hover {
							opacity: .8;
						}
					}
				}
			}

			@include max(s) {
				display: none;
			}
		}

		&_sticky {
			> div {
				position: fixed;
				@include top(-65px,0);
				left: 0;
				@include width(100%);
				@include height(65px,45px);
				background-color: #fff;
				transition: top .3s ease-out;
				z-index: 10;
				box-shadow: 2px 0px 4px rgba(#555, .2);

				&.on {
					@include top(0);
				}

				@include max(s) {
					height: 0;
				}

				> .side {
					@include max(s) {
						width: 250px;
						height: 100vh;
						background-color: rgba(#fff, .9);
						position: fixed;
						top: 0;
						right: -300px;
						z-index: -1;
						box-shadow: -5px 5px 5px rgba(#555, .2);
						transition: right .4s ease-out;

						&.on {
							right: 0px;
						}
					}
				}

				.bar {
					@include max(s) {
						height: 45px;
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						background-color: #fff;
						z-index: 10;
						box-shadow: 2px 0px 4px rgba(#555, .2);
					}

					h1 {
						img {
							@include width(160px,100px);
							@include height(auto);
							display: block;
							position: absolute;
							@include top(50%);
							@include left(30px,15px);
							transform: translateY(-50%);
						}
					}
					a.toggle {
						display: none;

						@include max(s) {
							display: block;
							width: 20px;
							height: 15px;
							position: absolute;
							top: 50%;
							right: 20px;
							transform: translateY(-50%);
						
							span {
								display: block;
								width: 20px;
								height: 2px;
								background-color: #000;
								position: absolute;
						
								&:first-child {
									top: 0;
									left: 0;
								}
						
								&:nth-child(2) {
									top: 50%;
									left: 0;
								}
						
								&:last-child {
									top: 100%;
									left: 0;
								}
							}
						
							&.on {
								span {
									&.first {
										top: 50%;
										animation: toggle1 2000ms linear both;
									}
							
									&.second {
										display: none;
									}
							
									&.third {
										top: 50%;
										animation: toggle2 2000ms linear both;
									}
								}
							}
						}
					}
				}
				nav {
					@include max(s) {
						width: 100%;
						height: auto;
					}
					ul {
						position: absolute;
						@include left(42%,0);
						@include top(50%,-100%);
						transform: translate(-50%, -50%);
						@include width(600px, 100%);
						@include flexBase( $wrap: "nowrap", $direction: "row", $justify: "space-between", $align: "stretch" );

						@include max(s) {
							display: block;
							position: static;
							transform: none;
							padding-top: 90px;
							text-align: center;
						}

						li {
							line-height: 1;

							@include max(s) {
								+ li {
									margin-top: 1.25em;
								}
							}

							a {
								@include fontSize(13px, 12px);
								color: $color_text;
								position: relative;
								display: inline-block;

								@include max(s) {

								}
							
								&::before {
									content: '';
									display: block;
									@include width(100%);
									@include height(20px);
									position: absolute;
									@include bottom(-5px);
									@include left(0);
									background-image: linear-gradient($color_main, $color_main);
									background-repeat: no-repeat;
									background-position: center bottom;
									background-size: 0% 2px;
									transition: background-size .3s ease-out;

									@include max(s) {
										display: none;
									}
								}
								&:hover {
									&::before {
										background-size: 100% 2px;
									}
								}
							}
						}
					}
				}
				a.login {
					background-color: $color_main;
					color: #fff;
					text-align: center;
					@include fontSize(16px, 12px);
					@include width(235px, 80%);
					@include height(100%, auto);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					position: absolute;
					@include top(0);
					@include right(170px);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}

					@include max(s) {
						display: block;
						position: static;
						margin: 1.5em auto 0;
					}
				}
				a.contact {
					background-color: $color_sub;
					color: #fff;
					text-align: center;
					@include fontSize(16px, 12px);
					@include width(170px, 80%);
					@include height(100%, auto);
					display: block;
					@include flexBase( $wrap: "nowrap", $direction: "column", $justify: "center", $align: "center" );
					position: absolute;
					@include top(0);
					@include right(0);
					transition: opacity .3s ease-out;

					&:hover {
						opacity: .8;
					}

					@include max(s) {
						display: block;
						position: static;
						margin: 1.25em auto 0;
					}
				}
			}

		}
	}


}//.fw

@keyframes toggle1 { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.31% { -webkit-transform: matrix3d(-0.671, -0.742, 0, 0, 0.742, -0.671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.671, -0.742, 0, 0, 0.742, -0.671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.51% { -webkit-transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, -0.007, 0, 0, 0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.82% { -webkit-transform: matrix3d(0.575, 0.818, 0, 0, -0.818, 0.575, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.575, 0.818, 0, 0, -0.818, 0.575, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.02% { -webkit-transform: matrix3d(0.405, 0.914, 0, 0, -0.914, 0.405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.405, 0.914, 0, 0, -0.914, 0.405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.34% { -webkit-transform: matrix3d(0.656, 0.755, 0, 0, -0.755, 0.656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.656, 0.755, 0, 0, -0.755, 0.656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    49.55% { -webkit-transform: matrix3d(0.715, 0.699, 0, 0, -0.699, 0.715, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.715, 0.699, 0, 0, -0.699, 0.715, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    78.18% { -webkit-transform: matrix3d(0.707, 0.707, 0, 0, -0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.707, 0.707, 0, 0, -0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(0.707, 0.707, 0, 0, -0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.707, 0.707, 0, 0, -0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  @keyframes toggle2 { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.31% { -webkit-transform: matrix3d(-0.671, 0.742, 0, 0, -0.742, -0.671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(-0.671, 0.742, 0, 0, -0.742, -0.671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.51% { -webkit-transform: matrix3d(1, 0.007, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0.007, 0, 0, -0.007, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    15.82% { -webkit-transform: matrix3d(0.575, -0.818, 0, 0, 0.818, 0.575, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.575, -0.818, 0, 0, 0.818, 0.575, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.02% { -webkit-transform: matrix3d(0.405, -0.914, 0, 0, 0.914, 0.405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.405, -0.914, 0, 0, 0.914, 0.405, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.34% { -webkit-transform: matrix3d(0.656, -0.755, 0, 0, 0.755, 0.656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.656, -0.755, 0, 0, 0.755, 0.656, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    49.55% { -webkit-transform: matrix3d(0.715, -0.699, 0, 0, 0.699, 0.715, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.715, -0.699, 0, 0, 0.699, 0.715, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    78.18% { -webkit-transform: matrix3d(0.707, -0.707, 0, 0, 0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.707, -0.707, 0, 0, 0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(0.707, -0.707, 0, 0, 0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.707, -0.707, 0, 0, 0.707, 0.707, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  