@charset "utf-8";

@font-face
{
	font-family: "IcoFont";
	font-weight: normal;
	font-style: "Regular";
	src: url("/assets/fonts/icofont.woff2") format("woff2"),
	url("/assets/fonts/icofont.woff") format("woff");
}

// Font Family
//------------------------------------------------------------------------------

	$font_base: 'Noto Sans JP','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	$font_voltaire: 'Voltaire', sans-serif;
	$font_DSEG7: 'DSEG7ModernMini-Italic', sans-serif;
	$font_DSEG14: 'DSEG14ModernMini-Regular', sans-serif;
	$font_josefin: 'Josefin Sans', sans-serif;


// Font Size
//------------------------------------------------------------------------------

	$font-size_base: 14;


// Line height
//------------------------------------------------------------------------------

	$line-height_base: 200%;
