@charset "utf-8";

// dots
.fw#agreement {

    .p-section {
        @include pd(160px 0 80px, 90px 0 60px);
        @include fontSize(15px, 12px);
        min-height: 100vh;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        .p-article {
            @include mt(100px, 50px);
            line-height: 2;

            @include max(s) {
                line-height: 1.6;
            }

            > h3 {
                @include fontSize(24px, 16px);
                font-weight: bold;
                text-align: center;
            }
        }

        .p-txt {
            @include fontSize(14px, 12px);
            @include mt(60px);
        }

        .p-right-text {
            @include mt(1em);
            text-align: right;
        }

        .p-innerSection {
            @include mt(40px, 30px);

            h4 {
                font-weight: bold;
                @include mb(10px);
            }

            p {
                text-indent: 1em;
            }

            .p-primaryList {
                // reset
                counter-reset: item;
                list-style-type: none;
                padding-left: 0;
          
                > li {
                  text-indent: -1em;
                  padding-left: 1em;

                  + li {
                      @include mt(1em);
                  }
          
                  &::before {
                    counter-increment: item;
                    content: counter(item);
                    padding-right: .5em;
                  }
                }
            }

            .p-secondaryList {
                // reset
                counter-reset: item;
                list-style-type: none;
                padding-left: 0;
          
                > li {
                    text-indent: -2em;
                    padding-left: 2em;
          
                  &::before {
                    counter-increment: item;
                    content: '('counter(item)')';
                    padding-right: .7em;
                  }
                }
            }
        }

    
    }

}