@charset "utf-8";

// ----------------------------------------------------------
// font-family,size,color,width, etc.
// ----------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Noto+Sans+JP:400,700|Voltaire&display=swap&subset=japanese');

@font-face{ 
    font-family: 'DSEG7ModernMini-Italic';
    src: url('/assets/fonts/DSEG7ModernMini-Italic.woff2') format('woff2'),
    url('/assets/fonts/DSEG7ModernMini-Italic.woff') format('woff'),
    url('/assets/fonts/DSEG7ModernMini-Italic.ttf') format('truetype');
}

@font-face{ 
    font-family: 'DSEG14ModernMini-Regular';
    src: url('/assets/fonts/DSEG14ModernMini-Regular.woff2') format('woff2'),
    url('/assets/fonts/DSEG14ModernMini-Regular.woff') format('woff'),
    url('/assets/fonts/DSEG14ModernMini-Regular.ttf') format('truetype');
}
  

@import "setting/setting";


// ----------------------------------------------------------
// Megane Template Core File
// ----------------------------------------------------------
@import "../fw/reset";
@import "mixin";
@import "base";


// ----------------------------------------------------------
// Atomic Design
// ----------------------------------------------------------

//Atoms
@import "0_atoms/atoms";

//Molecules
@import "1_molecules/molecules";

//Organisms
@import "2_organisms/organisms";

//Templates
@import "3_templates/templates";

//Pages
@import "4_pages/pages";
